---
import Layout from "../layouts/Layout.astro";
import Comic from "../components/partials/comic.astro";
import ComicAdd from "../components/comicadd.astro";
import { Plus } from "lucide-astro";

import { db } from "../db/index";
import { comicsTable } from "../db/schema";

const comics = await db.select().from(comicsTable);
---

<Layout>
  <div class="flex justify-center items-center h-screen">
    <div
      class="overflow-x-auto border-1 border-[#f8f8f8] rounded-2xl shadow-lg"
    >
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Link</th>
            <th>Chapter</th>
            <th>Action</th>
            <th>
              <button class="btn" onclick="modal_add.showModal()"
                ><Plus />Add Comics</button
              >
              <ComicAdd />
            </th>
          </tr>
        </thead>
        <!-- body -->
        <tbody id="comics">
          <Comic name="Mount hwa" link="https://shinigami09" chapter="1" />
        </tbody>
      </table>
    </div>
  </div>
</Layout>
