---
import Layout from "../layouts/Layout.astro";
import Comic from "../components/partials/comic.astro";
import ComicAdd from "../components/comicadd.astro";
---

<Layout>
  <div class="flex justify-center items-center h-screen">
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Link</th>
            <th>Chapter</th>
            <th>
              <button class="btn" onclick="modal_add.showModal()"
                >Add Comics</button
              >
              <ComicAdd />
            </th>
          </tr>
        </thead>
        <!-- body -->
        <tbody id="comics">
          <Comic name="Mount hwa" link="https://shinigami09" chapter="1" />
        </tbody>
      </table>
    </div>
  </div>
</Layout>
