---
import { db } from "../../db";
import { comicsTable } from "../../db/schema";

export const partial = true;
const comics = await db.select().from(comicsTable);
---

{
  comics.map((comic) => {
    return (
      <tr>
        <th />
        <td>{comic.name}</td>
        <td>{comic.link}</td>
        <td>{comic.chapter}</td>
        <td>
          <button class="btn"
           hx-delete=`/api/comics`
           hx-vals={`{"id": ${comic.id}}`} 
           hx-target="#comics" 
           hx-swap="outerHtml">
            Delete
          </button>
        </td>
      </tr>
    );
  })
}
