---
import { db } from "@/db/index";
import { comicsTable } from "@/db/schema";

export const partial = true;
const comics = await db.select().from(comicsTable);
---

{
  comics.map((comic) => {
    return (
      <tr class="text-center">
        <th />
        <td>{comic.name}</td>
        <td>{comic.link}</td>
        <td>
            <button class="btn">-</button>
            <span class="mx-2">{comic.chapter}</span>
            <button class="btn">+</button>
          </td>
        <td>
          <button class="btn"
           hx-delete=`/api/comics`
           hx-vals={`{"id": ${comic.id}}`} 
           hx-target="#comics" 
           hx-swap="outerHtml">
            Delete
          </button>
        </td>
      </tr>
    );
  })
}
